@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Shantell+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .menu{
        @apply px-10 fixed left-0 right-0 bg-slate-800 overflow-hidden z-30 md:hidden
    }
    .menu-open{
        @apply h-screen
    }
    .menu-close{
        @apply h-0
    }
    .menu-transition{
        @apply transition-height duration-300 ease-in-out 
    }
}